/* theme heavily inspired by https://github.com/coffebar/dotfiles/ */

/* TODO: use this when waybar updates to GTK 4+ */

/* :root {
	--base00: #181818;
	--base01: #2b2e37;
	--base02: #3b3e47;
	--base03: #585858;
	--base04: #b8b8b8;
	--base05: #d8d8d8;
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #ab4642;
	--base09: #dc9656;
	--base0A: #f7ca88;
	--base0B: #a1b56c;
	--base0C: #86c1b9;
	--base0D: #7cafc2;
	--base0E: #ba8baf;
	--base0F: #a16946;
} */

#waybar button {
	border: none;
	border-radius: 0;
}

#waybar button:hover {
	background: inherit;
}

#waybar {
	transition: none;
	box-shadow: none;

	font-family: 'Fira Code', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #b8b8b8 /* base04 */;
	background: #2b2e37 /* base01 */;
}

#workspaces {
	margin: 0 4px;
}

#workspaces button {
	margin: 4px 0;
	padding: 0 4px;
	color: #d8d8d8 /* base05 */;
	border-radius: 4px;
}

#workspaces button:hover {
	background: #3b3e47 /* base02 */;
}

#workspaces button.visible,
#workspaces button.active {
	background-color: #585858 /* base03 */;
}

#workspaces button.urgent {
	color: #ee2e24;
}

#window {
	font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}

#clock {
	background-color: transparent;
	font-family: sans-serif;
}

#tray {
	margin: 4px 4px 4px 4px;
	border-radius: 4px;
	background-color: #3b3e47 /* base02 */;
	font-family: sans-serif;
}

/* no more than 2 children otherwise the menus get messed up */
#tray > *,
#tray > * > * {
	padding: 0 6px;
	border-left: 1px solid #181818 /* base00 */;
}

#tray > *,
#tray > * > *:first-child {
	border-left: none;
}

#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#idle_inhibitor,
#battery {
	margin: 4px 2px;
	padding: 0 6px;
	background-color: #3b3e47 /* base02 */;
	border-radius: 4px;
	min-width: 20px;
}

#temperature.critical {
	color: #a16946 /* base0F */;
}

#pulseaudio.bluetooth {
	color: #86c1b9 /* base0C */;
}

#power-profiles-daemon {
	margin: 4px 2px;
	padding: 0 6px;
	background-color: #3b3e47 /* base02 */;
	border-radius: 4px;
	min-width: 25px;
	font-family: sans-serif;
}
