$base00: #181818;
$base01: #2b2e37;
$base02: #3b3e47;
$base03: #585858;
$base04: #b8b8b8;
$base05: #d8d8d8;
$base06: #e8e8e8;
$base07: #f8f8f8;
$base08: #ab4642;
$base09: #dc9656;
$base0A: #f7ca88;
$base0B: #a1b56c;
$base0C: #86c1b9;
$base0D: #7cafc2;
$base0E: #ba8baf;
$base0F: #a16946;

.bar * {
  all: unset;
}

.bar {
  background-color: $base01;
}

.workspaces {
  margin: 0 4px;
}

.workspaces button {
	margin: 4px 0;
	padding: 0 4px;
	color: $base05;
	border-radius: 4px;
}

.workspaces button:hover {
  background-color: $base02;
}

// FIXME: this gets overriden by hover
.workspace-on-screen {
  background-color: $base03;
}

